nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
  align-items: center;
  h1 {
    letter-spacing: 2px;
    color: brown;
  }
  button {
    background-color: transparent;
    border: 2px solid rgb(65, 65, 65);
    color: black;
    padding: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
  &:hover {
    background-color: rgb(65, 65, 65);
    color: white;
  }
  }
}

.library-icon {
  padding-left: 4px;
}

@media screen and (min-width: 768px) {
  nav {
    justify-content: space-around;
    margin: 0;
  }
}


